* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

.cabecalho {
    background: linear-gradient(to bottom right, rgb(33, 33, 33), rgb(45, 45, 45));
    position: sticky;
    top: 0;
}

.cabecalho>section {
    width: 80%;
}

.cabecalho>section>a>img {
    height: 5em;
    margin-right: 3%;
}

.cabecalho>section>nav {
    align-items: center;
}

.cabecalho>section>nav>a {
    text-decoration: none;
    color: rgb(250, 250, 250);
    font-family: "Tomorrow";
    font-weight: 200;
    font-size: 1.3em;
}

.cabecalho>section>nav>.ativo {
    text-decoration: overline;
    color: rgb(86, 159, 255);
}

.cabecalho>section>nav>a:hover {
    font-weight: 300;
    color: rgb(86, 159, 255);
}

.menu_lateral {
    background-color: rgb(180, 180, 180);
    font-family: "Tomorrow";
    font-weight: 300;
    font-size: 1.3em;
}

.menu_lateral>.menu_lateral_header {
    background: linear-gradient(to bottom right, rgb(45, 45, 45), rgb(33, 33, 33));
    color: rgb(250, 250, 250);
    padding: 1.97em;
}

.menu_lateral>.menu_lateral_body>ul>.titulo_vendas_lateral {
    font-weight: 400;
    color: rgb(60, 60, 60);
    margin-top: 2em;

}

.menu_lateral>.menu_lateral_body>ul>.caixa_links_lateral>li>a {
    text-decoration: none;
    color: rgb(90, 90, 90);
    font-weight: 200;
    font-size: 18px;
    margin: 0 1em;
}

.menu_lateral>.menu_lateral_body>ul>.caixa_links_lateral>li>a:hover {
    text-decoration: underline;
    font-weight: 400;
}

.principal {
    background: linear-gradient(to top right, rgb(190, 190, 190), rgb(220, 220, 220));
    font-family: "Tomorrow";
    font-weight: 200;
    font-size: 1.3em;
}

.rodape {
    background: linear-gradient(to top right, rgb(33, 33, 33), rgb(45, 45, 45));
    font-family: "Tomorrow";
    font-weight: 200;
    font-size: 1em;
    justify-items: center;
}

.rodape>.principal_footer {
    width: 80%;
    text-align: center;
    color: white;

}

.rodape>.principal_footer>.informacao_footer {
    padding: 0;
    margin: 0;
}

.rodape>.principal_footer>.informacao_footer>div>div>ul>li {
    background-color: transparent;
    color: white;
    margin-bottom: 10px;
    font-size: 1.7em;
}

.rodape>.principal_footer>.informacao_footer>div>.barra_vertical {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.rodape>.principal_footer>.informacao_footer>div>.barra_vertical_servico {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.rodape>.principal_footer>.informacao_footer>div>.barra_vertical_servico>ul>li>a {
    text-decoration: none;
    color: white;
}
.rodape>.principal_footer>.informacao_footer>div>.barra_vertical_servico>ul>li>a:hover {
    text-decoration: underline;
    color: white;
    font-weight: 300;
}

.rodape>.principal_footer>.redes_pagamentos {
    justify-content: center;
    font-size: 1.5em;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.rodape>section>.direitos_autorais {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Noto_Sans";
    font-weight: 300;
}