* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.cabecalho {
    z-index: 10;
}

.container_menu_lateral_vendas {
    background: linear-gradient(to bottom right, rgb(33, 33, 33), rgb(45, 45, 45));
}

.menu_lateral_vendas {
    position: sticky;
    top: 112px;
    width: 400px;
    font-family: "Tomorrow";
    font-weight: 200;
    color: white;
}

.menu_lateral_vendas>.menu_lateral_vendas_titulo>h5 {
    padding: 0.5em;
    justify-self: center;
    border-bottom: 1px solid white;
    font-size: 1.5em;
}

.menu_lateral_vendas>.menu_lateral_vendas_conteudo>ul>li {
    margin: 10px;
    list-style: none;
}

.menu_lateral_vendas>.menu_lateral_vendas_conteudo>ul>li>a {
    text-decoration: none;
    color: white;
}

.menu_lateral_vendas>.menu_lateral_vendas_conteudo>ul>li>a:hover {
    color: rgb(86, 159, 255);
}

.menu_lateral_vendas>.menu_lateral_vendas_conteudo {
    padding-left: 1.6em;
    font-size: 1.3em;
}